# NPM
front-end/node_modules/
front-end/yarn-error.log

# Visual Studio
.vscode

# Build results
back-end/rps/bin/
back-end/rps/obj/

back-end/rps.Tests/bin/
back-end/rps.Tests/obj/

# Miscellaneous
*/.DS_Store