# NPM
rps/node_modules/
rps/yarn-error.log

# Cypress
rps/cypress/videos/
rps/cypress/screenshots/

# Visual Studio
.vscode

# Build results
rps-csharp/rps/bin/
rps-csharp/rps/obj/

rps-csharp/rps.Tests/bin/
rps-csharp/rps.Tests/obj/

